.sidebar {
  width: 20%;
  background-color: #e6e6fa;
  height: 135vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 80px;
 
}

.avatar {
  width: 120px;
  height: 120px;
  background-color: #ccc;
  border-radius: 50%;
  margin-bottom: 1rem;
  overflow: hidden;
}

.avatar img {
  width: 100%; /* Make the image take the full width of the avatar */
  height: 100%; /* Make the image take the full height of the avatar */
  object-fit: cover; /* This will ensure the image maintains its aspect ratio and covers the avatar area */
}

.name {
  font-size: 1.2rem;
  font-weight: bold;
}

.role {
  color: #666;
}

.menu h4 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
}

.menu p {
  margin: 0.5rem 0;
  color: #333;
  cursor: pointer;
}  