.studentlogin{
  display: flex;
  height: 650px;
  background-color: hwb(253 47% 5%);
  
  
  
}

.mainContent {
  max-width: 780px; /* Set a max-width for larger screens */
  height: 480px;
  margin: auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 42px;
}


.contentWrapper {
  display: flex;
  width: 780px;
  justify-content: space-between;
  align-items: center;
  
}

.loginImage {
  width: 50%;
  height: 480px;
  background-image: url('/public/studentform.jpg'); /* Update with correct path */
  background-size: cover;
  background-position: center;
  border-radius: 0 10px 10px 0;
  filter: blur(0px);
}


.loginFormSection {
  width: 50%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginFormSection h2{
  font-size: 1.8rem;
  font-weight: bold;
  color: rgba(20, 12, 115, 0.96);
  position: relative;
  bottom: 50px;

}


.inputGroup {
  margin-bottom: 15px;
}

.inputLabel {
  font-size: 14px;
  margin-bottom: 8px;
  color: #555;
}

.inputField {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  font-size: 16px;
}

.rememberMe {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}

.checkbox {
  width: 20px;
  height: 20px;
}

.checkboxLabel {
  font-size: 14px;
  color: #555;
}

.signInButton {
  width: 100%;
  padding: 15px;
  background-color: rgba(20, 12, 115, 1);
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.signInButton:hover {
  background-color: #5a52e0;
}

.signupPrompt {
  font-size: 14px;
  margin-top: 20px;
  color: #555;
  text-align: center;
}

.signupLink {
  color: #6c63ff;
  text-decoration: none;
}

.signupLink:hover {
  text-decoration: underline;
}
