.team {
  padding: 40px;
  text-align: center;
  width: 100%;
}

.team h2 {
  font-size:36px;
    text-align: center;
    font-weight: bold;
}

.team p {
  font-size: 18px;
  width: 100%;
  margin: 20px auto;
}

