.Schoollogin{
  display: flex;
  height: 100vh;
  background-color: hwb(253 47% 5%);
  justify-content: center;
}

.SchoolmainContent {
  width: 780px; /* Set a max-width for larger screens */
  height: 530px;
  margin: auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 42px;
  display: flex;
  flex-direction: column;
}


.SchoolcontentWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  
}

.SchoolImage {
  width: 50%;
  height: 530px;
  background-image: url('../../../../../public/school.jpg'); /* Update with correct path */
  background-size: cover;
  background-position: center;
  border-radius: 10px 10px 0 0;
  margin-bottom: 10px;
  
}


.SchoolFormSection1 {
  width: 50%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.SchoolFormSection1  h2{
  font-size: 1.5rem;
  font-weight: bold;
  color: rgba(20, 12, 115, 0.96);
 margin-bottom: 20px;

}

.SchoolinputGroup1{
  margin-bottom: 15px;
}

.SchoolinputLabel1 {
  font-size: 14px;
  margin-bottom: 8px;
  color: #555;
}

.SchoolinputField1 {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  font-size: 16px;
}



.SchoolRegisterButton{
  width: 100%;
  padding: 15px;
  background-color: rgba(20, 12, 115, 1);
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.SchoolRegisterButton:hover {
  background-color: #5a52e0;
}

@media (max-width: 768px) {
  .Schoollogin{
    height: 880px;
  }

  .SchoolImage {
    width: 100%;
    height: 200px; /* Adjust height for smaller screens */
    border-radius: 10px 10px 0 0;
    position: relative;
    bottom: 515px;
  }

  .SchoolFormSection1 {
    width: 100%;
    position: relative;
    top: 180px;
  }
  .SchoolFormSection1  h2{
    font-size: 1.1rem;
   margin-bottom: 20px;
   }

   .SchoolmainContent {
    height:750px;
    width:300px;
    margin-top: 60px;
  
  }

}

